/* common css styles start */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700;800;900&display=swap");
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  width: 100%;
  margin: 0 auto;
}

/* common css styles end */

/* ============================= */

/* Header css styles start */

header {
  background-color: #f9fbfc;
  margin-top: 50px;
}

.inner_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo_area {
  width: 120px;
}

.logo_area img {
  width: 100%;
}

.menu ul {
  display: flex;
  align-items: center;
}

.menu ul li {
  padding: 0 18px;
}

.menu ul li a {
  font-size: 16px;
  line-height: 44px;
  color: #242f51;
  font-weight: 400;
  transition: 0.6s;
}

.menu ul li a:hover {
  color: red;
}

.trail_btn {
  width: 170px;
  height: 57px;
  border-radius: 29px;
  background-color: #2500f9;
  border: none;
  outline: none;
  font-size: 16px;
  line-height: 44px;
  color: #ffffff;
  font-weight: 700;
}

#menu_toggler {
  display: none;
  border: none;
  outline: none;
  background: transparent;
}

#menu_toggler i {
  color: black;
  font-size: 35px;
}
/* Header css styles end */

/* ============================ */

/* Banner css styles start */

#banner {
  min-height: calc(100vh - 72px);
  background-image: url("./../images/bannerBackground.png");
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: cover;
}

.inner_banner {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* .content_area {
} */

.content_area h6 {
  font-size: 18px;
  line-height: 28px;
  color: #242f51;
  font-weight: 400;
  max-width: 362px;
  height: 35px;
  border-radius: 17px;
  background-color: #e2eaed;
  display: flex;
  align-items: center;
}

.content_area h6 i {
  display: block;
  width: 39px;
  height: 35px;
  border-radius: 17px;
  background-color: #feaa25;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
}

.content_area h1 {
  font-size: 60px;
  line-height: 75px;
  color: #242f51;
  font-weight: 600;
  max-width: 525px;
  margin: 30px 0;
}

.content_area p {
  font-size: 18px;
  line-height: 28px;
  color: #616368;
  font-weight: 400;
  max-width: 481px;
  margin-bottom: 30px;
}

.hero_btn_container {
  display: flex;
}

.demo_btn {
  font-size: 16px;
  line-height: 44px;
  color: #2500f9;
  font-weight: 400;
  border: 0;
  background-color: transparent;
  outline: none;
  margin-left: 20px;
}

.banner_area {
  max-width: 300px;
}

.banner_area img {
  width: 100%;
}

/* Banner css styles end */

/* ========================= */

/* Client css style start */

#client {
  margin: 100px 0;
}
#client h6 {
  text-align: center;
  font-size: 16px;
  line-height: 28px;
  color: #242f51;
  font-weight: 400;
  margin-bottom: 51px;
}
.inner_client {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.inner_client img {
  max-width: 120px;
  margin: 0 15px;
}

/* Client css style end */

/* ===================== */

/* Feature css style start */

#feature {
  background-image: url("../images/phoneCopy.png");
  background-position: bottom right;
  background-size: 650px;
  background-repeat: no-repeat;
  margin-bottom: 50px;
}

#feature h2 {
  font-size: 36px;
  line-height: 46px;
  color: #242f51;
  font-weight: 600;
  max-width: 330px;
  margin-bottom: 30px;
}

#feature p {
  font-size: 16px;
  line-height: 26px;
  color: #616368;
  font-weight: 400;
  max-width: 392px;
  margin-bottom: 60px;
}

.feature_box_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  max-width: 640px;
}

.feature_box {
  width: 260px;
}

.feature_box p {
  font-size: 16px;
  line-height: 26px;
  color: #616368;
  font-weight: 400;
}

/* Feature css style end */

/* ================================= */

/* Awesome App css style start */
.awesome_grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
}
.awesome_bg_img {
  max-width: 600px;
}
.awesome_bg_img img {
  width: 100%;
}

.app_details {
  max-width: 430px;
  margin-left: auto;
}

.app_details h1 {
  font-size: 36px;
  line-height: 46px;
  color: #242f51;
  font-weight: 600;
  margin-bottom: 20px;
}
.app_details p {
  font-size: 16px;
  line-height: 26px;
  color: #616368;
  font-weight: 400;
  margin-bottom: 50px;
}
.app_box {
  display: flex;
  align-items: center;
}
.app_box img {
  width: 89px;
  height: 89px;
  margin-right: 10px;
}
.app_heading {
  font-size: 20px;
  line-height: 40px;
  font-weight: 600;
}
.app_heading_one {
  color: #f55767;
}
.app_heading_two {
  color: #2563ff;
}
.app_heading_three {
  color: #40975f;
}
.app_box p {
  font-size: 16px;
  line-height: 26px;
  color: #616368;
  font-weight: 400;
}

/* Awesome App css style end */

/* =========================== */

/* Jackpot css style start */
.jackpot_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.jackpot_heading {
  max-width: 425px;
  font-size: 40px;
  line-height: 50px;
  color: #242f51;
  font-weight: 600;
}
.jackpot_border {
  border-left: 1px solid;
  width: 1px;
  height: 142px;
  margin-right: 69px;
  background-color: #4b4a48;
}
.jackpot_paragraph {
  max-width: 410px;
  font-size: 16px;
  line-height: 26px;
  color: #616368;
  font-weight: 400;
}
.jackpot_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 80px;
  place-items: center;
  grid-gap: 50px;
  padding: 0px 40px;
  margin-bottom: 145px;
}
/* Jackpot css style end */

/* =========================== */

/* Design css style start */

.design_grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  grid-gap: 40px;
}
.design_details {
  max-width: 410px;
}
.design_details h1 {
  font-size: 36px;
  line-height: 46px;
  color: #242f51;
  font-weight: 600;
}
.design_details p {
  font-size: 16px;
  line-height: 26px;
  padding: 20px 0px;
}

/* Design css style end */

/* ============================= */

/* Our App css style start */
#our-app {
  margin-top: 100px;
  margin-bottom: 100px;
}
.app-title {
  max-width: 650px;
  margin: 0 auto;
  text-align: center;
}
.app-title h1 {
  font-size: 36px;
  line-height: 46px;
  color: #242f51;
  font-weight: 600;
}
.app-title p {
  font-size: 16px;
  line-height: 26px;
  color: #616368;
  font-weight: 400;
  padding: 15px 0px;
}
.app_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  grid-gap: 50px;
  text-align: center;
  margin: 50px 30px;
}
/* Our App css style end */

/* ========================== */

/* Pricing css style start */
#pricing {
  margin-top: 150px;
}
.pricing-title {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}
.pricing-title h2 {
  font-size: 36px;
  line-height: 46px;
  color: #242f51;
  font-weight: 600;
}
.pricing-title p {
  padding: 15px 0px;
}
.pricing-btn-container {
  max-width: 283px;
  height: 48px;
  border-radius: 29px;
  background-color: transparent;
  margin: 30px auto;
  border: 2px solid #ebebeb;
  display: flex;
  justify-content: space-between;
}
.btn-main {
  width: 125px;
  height: 48px;
  font-size: 16px;
}
.btn-empty {
  border: 0;
  outline: 0;
  background: none;
}
.btn_color {
  color: #2500f9;
}
.pricing_card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 635px;
  grid-gap: 35px;
  margin: 0px auto;
  padding-top: 20px;
}
.single_card {
  text-align: center;
  max-width: 317px;
  border-radius: 9px;
  background-color: #fff;
  filter: drop-shadow(3.837px 54.866px 31px rgba(164, 164, 165, 0.18));
  overflow: hidden;
}
.card_2 {
  border: 1px solid gray;
}

.card_title {
  background: #f4f7f9;
}
.card_title h1 {
  font-size: 60px;
  line-height: 58px;
  color: #242f51;
  font-weight: 600;
  padding: 20px 0px;
}
.card_title sub {
  font-size: 18px;
  line-height: 28px;
  color: #999ca5;
  font-weight: 400;
}
.card_title h3 {
  font-size: 20px;
  line-height: 28px;
  color: #242f51;
  font-weight: 600;
}
.card_title p {
  padding-bottom: 20px;
}

.card_footer ul li {
  font-size: 16px;
  line-height: 48px;
  color: #999ca5;
}
.card_footer ul {
  margin-bottom: 15px;
}
/* Pricing css style end */

/* Clients review css style start */
#testimonial {
  background: url('../images/Testimonial.png');
  background-position: left top;
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: 20px;
  margin-top: 150px;
}
.testimonial_container {
  max-width: 520px;
  margin-right: 110px;
}
.testimonial_title h2 {
  font-size: 40px;
  line-height: 50px;
  color: #242f51;
  font-weight: 600;
}
.testimonial_title p {
  padding: 15px 0px;
}
.customer_review h4 {
  font-size: 20px;
  line-height: 58px;
  color: #242f51;
  font-weight: 600;
}
.icon {
  padding-top: 15px;
}
.icon i {
  color: #ffcc00;
  font-size: 20px;
  line-height: 58px;
}
.customer_main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.icons {
  margin-top: 22px;
  display: flex;
}
.fa-arrow-right,
.fa-arrow-left {
  width: 50px;
  height: 50px;
  border: 2px solid #eff3f8;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #dee1e6;
}
.fa-arrow-right {
  margin-left: 10px;
  color: #2500f9;
  background: #eff3f8;
}
.customer {
  display: flex;
  align-items: center;
  margin-top: 30px;
}
.customer h4 {
  font-size: 18px;
  color: #242f51;
  font-weight: 600;
}
.customer img {
  margin-right: 20px;
}
/* Clients review css style end */

/* Faq section style start */
#faq_section {
  margin-top: 130px;
  margin-bottom: 130px;
}
.faq_title {
  max-width: 600px;
  text-align: center;
  margin: 0px auto;
}
.faq_title h2 {
  font-size: 40px;
  line-height: 58px;
  color: #242f51;
  font-weight: 600;
  padding: 15px 0px;
}
.faq_container {
  margin-top: 53px;
}
.single_faq_title {
  padding: 15px 0px;
}
.single_faq_title,
.single_faq {
  max-width: 945px;
  background-color: #eff1f5;
  margin: 0 auto;
  padding: 30px;
}
.single_faq_title h3 {
  font-size: 20px;
  line-height: 58px;
  color: #242f51;
  font-weight: 600;
}
.single_faq_title p {
  padding-right: 100px;
}
.single_faq {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px auto;
  padding: 0px 30px;
}
.single_faq h3 {
  font-size: 18px;
  line-height: 58px;
  color: #242f51;
  font-weight: 500;
}
.single_faq,
.fa-plus {
  color: #242f51;
}
/* Faq section style end */

/* download css style start */

#download {
  background: url("../images/vectorSmartObjectThree.png");
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 665px;
}
.download_content {
  max-width: 640px;
  padding: 120px 0px;
}
.download_app h2 {
  font-size: 48px;
  line-height: 58px;
  color: #242f51;
  font-weight: 600;
}
.download_app p {
  padding: 30px 0px;
}

/* download css style end */

/* footer css style start */
.footer {
  background-color: #09142e;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.footer_nav ul li {
  display: inline-block;
  padding: 25px 20px;
}
.footer_content li a {
  color: #fff;
  font-size: 15px;
}
.social-icon {
  font-size: 30px;
  letter-spacing: 23px;
  line-height: 44px;
  color: #596787;
  font-weight: 400;
}
.social-icon i:hover {
  color: red;
  transition: 0.3s;
}
.footer_content p {
  margin-top: 40px;
  color: #fff;
  font-size: 14px;
}
/* footer css style end */
